In [1]:
import numpy as np 
import pandas as pd

In [2]:
att = '/kaggle/input/event-recommendation-engine-challenge/event_attendees.csv.gz'
events="/kaggle/input/event-recommendation-engine-challenge/events.csv.gz"
friends='/kaggle/input/event-recommendation-engine-challenge/user_friends.csv.gz'
test=pd.read_csv('/kaggle/input/event-recommendation-engine-challenge/test.csv')
train=pd.read_csv('/kaggle/input/event-recommendation-engine-challenge/train.csv')
user=pd.read_csv('/kaggle/input/event-recommendation-engine-challenge/users.csv')
# Read the gzipped CSV file into a DataFrame
attendee = pd.read_csv(att, compression='gzip')
event= pd.read_csv(events, compression='gzip')
friend= pd.read_csv(friends, compression='gzip')

In [3]:
attendee.head()

,event,yes,maybe,invited,no
0,1159822043,1975964455 252302513 4226086795 3805886383 142...,2733420590 517546982 1350834692 532087573 5831...,1723091036 3795873583 4109144917 3560622906 31...,3575574655 1077296663
1,686467261,2394228942 2686116898 1056558062 3792942231 41...,1498184352 645689144 3770076778 331335845 4239...,1788073374 733302094 1830571649 676508092 7081...,NaN
2,1186208412,NaN,3320380166 3810793697,1379121209 440668682,1728988561 2950720854
3,2621578336,NaN,NaN,NaN,NaN
4,855842686,2406118796 3550897984 294255260 1125817077 109...,2671721559 1761448345 2356975806 2666669465 10...,1518670705 880919237 2326414227 2673818347 332...,3500235232

In [4]:
attendee.rename(columns={'event': 'event_id'}, inplace=True)
attendee.head()

,event_id,yes,maybe,invited,no
0,1159822043,1975964455 252302513 4226086795 3805886383 142...,2733420590 517546982 1350834692 532087573 5831...,1723091036 3795873583 4109144917 3560622906 31...,3575574655 1077296663
1,686467261,2394228942 2686116898 1056558062 3792942231 41...,1498184352 645689144 3770076778 331335845 4239...,1788073374 733302094 1830571649 676508092 7081...,NaN
2,1186208412,NaN,3320380166 3810793697,1379121209 440668682,1728988561 2950720854
3,2621578336,NaN,NaN,NaN,NaN
4,855842686,2406118796 3550897984 294255260 1125817077 109...,2671721559 1761448345 2356975806 2666669465 10...,1518670705 880919237 2326414227 2673818347 332...,3500235232

In [5]:
event.head()

,event_id,user_id,start_time,city,state,zip,country,lat,lng,c_1,...,c_92,c_93,c_94,c_95,c_96,c_97,c_98,c_99,c_100,c_other
0,684921758,3647864012,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,1,0,0,0,0,0,0,0,9
1,244999119,3476440521,2012-11-03T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,0,0,0,0,0,0,0,0,7
2,3928440935,517514445,2012-11-05T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,12
3,2582345152,781585781,2012-10-30T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,8
4,1051165850,1016098580,2012-09-27T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9

In [6]:
test.head()

      user       event  invited                         timestamp
0  1776192  2877501688        0  2012-11-30 11:39:01.230000+00:00
1  1776192  3025444328        0  2012-11-30 11:39:01.230000+00:00
2  1776192  4078218285        0  2012-11-30 11:39:01.230000+00:00
3  1776192  1024025121        0  2012-11-30 11:39:01.230000+00:00
4  1776192  2972428928        0  2012-11-30 11:39:21.985000+00:00

In [7]:
train.head()

,user,event,invited,timestamp,interested,not_interested
0,3044012,1918771225,0,2012-10-02 15:53:05.754000+00:00,0,0
1,3044012,1502284248,0,2012-10-02 15:53:05.754000+00:00,0,0
2,3044012,2529072432,0,2012-10-02 15:53:05.754000+00:00,1,0
3,3044012,3072478280,0,2012-10-02 15:53:05.754000+00:00,0,0
4,3044012,1390707377,0,2012-10-02 15:53:05.754000+00:00,0,0

In [8]:
friend.head()

         user                                            friends
0  3197468391  1346449342 3873244116 4226080662 1222907620 54...
1  3537982273  1491560444 395798035 2036380346 899375619 3534...
2   823183725  1484954627 1950387873 1652977611 4185960823 42...
3  1872223848  83361640 723814682 557944478 1724049724 253059...
4  3429017717  4253303705 2130310957 1838389374 3928735761 71...

In [9]:
user.head()

,user_id,locale,birthyear,gender,joinedAt,location,timezone
0,3197468391,id_ID,1993,male,2012-10-02T06:40:55.524Z,Medan Indonesia,480.0
1,3537982273,id_ID,1992,male,2012-09-29T18:03:12.111Z,Medan Indonesia,420.0
2,823183725,en_US,1975,male,2012-10-06T03:14:07.149Z,Stratford Ontario,-240.0
3,1872223848,en_US,1991,female,2012-11-04T08:59:43.783Z,Tehran Iran,210.0
4,3429017717,id_ID,1995,female,2012-09-10T16:06:53.132Z,NaN,420.0

In [10]:
attendee.isnull().sum()

event_id       0
yes         1984
maybe       3167
invited     1822
no          6659
dtype: int64

In [11]:
attendee.shape

(24144, 5)

In [12]:
attendee.dropna(inplace=True)
attendee.reset_index(drop=True, inplace=True)

In [13]:
attendee.shape

(16789, 5)

In [14]:
attendee.duplicated().sum()

0

In [15]:
event.isnull().sum()

event_id            0
user_id             0
start_time          0
city          1557125
state         1889723
               ...
c_97                0
c_98                0
c_99                0
c_100               0
c_other             0
Length: 110, dtype: int64

In [16]:
event.duplicated().sum()

0

In [17]:
event.dropna(inplace=True)
event.reset_index(drop=True, inplace=True)

In [18]:
test.isnull().sum()

user         0
event        0
invited      0
timestamp    0
dtype: int64

In [19]:
test.duplicated().sum()

0

In [20]:
train.isnull().sum()

user              0
event             0
invited           0
timestamp         0
interested        0
not_interested    0
dtype: int64

In [21]:
friend.isnull().sum()

user         0
friends    139
dtype: int64

In [22]:
friend.duplicated().sum()

0

In [23]:
user.isnull().sum()

user_id         0
locale          0
birthyear    1492
gender        109
joinedAt       58
location     5465
timezone      436
dtype: int64

In [24]:
user.duplicated().sum()

0

In [25]:
user.dropna(inplace=True)
user.reset_index(drop=True, inplace=True)

In [26]:
event.columns

Index(['event_id', 'user_id', 'start_time', 'city', 'state', 'zip', 'country',
       'lat', 'lng', 'c_1',
       ...
       'c_92', 'c_93', 'c_94', 'c_95', 'c_96', 'c_97', 'c_98', 'c_99', 'c_100',
       'c_other'],
      dtype='object', length=110)

In [27]:
event=event[['event_id','user_id', 'city', 'state', 'zip', 'country']]
event.head()

     event_id     user_id        city state    zip        country
0  1924180022  1571299514   Palo Alto    CA  94304  United States
1  2654661184  1785633648   Palo Alto    CA  94304  United States
2   766157199   415464198    New York    NY   0212  United States
3   197942693  4272720232  Menlo Park    CA  94025  United States
4  3578194644   571508037      Mobile    AL  36602  United States

In [28]:
event=event.merge(user,on="user_id")

In [29]:
event.drop(columns=["joinedAt"], inplace=True)

In [30]:
event.head()

,event_id,user_id,city,state,zip,country,locale,birthyear,gender,location,timezone
0,3715070860,4072475571,Scottsdale,AZ,85251,United States,en_US,1986,male,Tempe Arizona,-420.0
1,473058149,4072475571,Scottsdale,AZ,85251,United States,en_US,1986,male,Tempe Arizona,-420.0
2,2470912453,4072475571,Scottsdale,AZ,85251,United States,en_US,1986,male,Tempe Arizona,-420.0
3,726785080,4072475571,Scottsdale,AZ,85251,United States,en_US,1986,male,Tempe Arizona,-420.0
4,2617055799,4072475571,Scottsdale,AZ,85251,United States,en_US,1986,male,Tempe Arizona,-420.0

In [31]:
num=train.groupby('event').count()['interested'].reset_index()
num.rename(columns={'interested':"num_interested"},inplace=True)
num.sample(10)

           event  num_interested
3330  1616400535               1
3589  1728846117               1
3344  1622044817               1
1823   896838988               1
7863  3818735309               1
4984  2400649681               1
2227  1095401609               1
8640  4202341981               1
5626  2708243586               1
3103  1516467554               1

In [32]:
inv=train.groupby('event').count()['invited'].reset_index()
inv.rename(columns={'invited':"num_invited"},inplace=True)
inv.sample(10)

           event  num_invited
7697  3733102523            1
1470   729305487            1
3682  1769681665            1
537    259997168            1
4990  2403951537            1
3848  1841631859            1
3265  1591026841            1
6737  3260945424            1
1060   530788794            1
1172   587071307            1