In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv("event_data.csv")

In [3]:
data.head()

,Unnamed: 0,Name,Price,Date_time,Location,About
0,0,NEW YEARS EVE 5 HOURS PREMIUM OPEN BAR AT KATRA,From $32.64,"December 31 Â· 9pm - January 1, 2024 Â· 4am EST",Katra,5 HOURS OF PREMIUM OPEN BARCHAMPAGNE TOAST AT ...
1,1,ROOFTOP WATCH PARTY | SUITE FOOD LOUNGE,Free,"Saturday, December 30 Â· 3 - 9pm EST",Suite Food Lounge,"Celebrity guest, live music by Atlanta's top D..."
2,2,THE GREATEST SHOW ON EARTH REVEL ATLANTA,NaN,December 23 Â· 10pm - December 24 Â· 3am EST,REVEL ATLANTA,Join us every week at THE GREATEST SHOW ON EAR...
3,3,THE GREATEST NYE ON EARTH NEW YEARS EVE | REVE...,$0 â€“ $100,"Ends on Monday, January 1, 2024 Â· 3am EST",Revel,THE GREATEST NEW YEAR'S EVE ON EARTH 2024 | RE...
4,4,HANGOVER ROOFTOP BRUNCH AT SUITE LOUNGE,NaN,"Monday, January 1, 2024 Â· 3 - 9pm EST",Suite Food Lounge,Welcome to the Hangover Rooftop Brunch at Suit...

In [4]:
data.isnull().sum()

Unnamed: 0     0
Name           0
Price         43
Date_time     38
Location      36
About         37
dtype: int64

In [5]:
data.dropna(inplace=True)

In [6]:
data.duplicated().sum()

0

In [7]:
data.shape

(75, 6)

In [8]:
data['Id']=data.reset_index().index

In [9]:
data= data[['Id','Name','Price','Date_time','Location','About']]

In [10]:
data["About"]

0      5 HOURS OF PREMIUM OPEN BARCHAMPAGNE TOAST AT ...
1      Celebrity guest, live music by Atlanta's top D...
3      THE GREATEST NEW YEAR'S EVE ON EARTH 2024 | RE...
5      Ring in NYE 2024 at the Hilton Chicago!  Chica...
6      Jim Irsayâ€™s world-renowned collectionâ€”a travel...
                             ...
78     @riseandtoastRISE + TOASTHOSTED BY MACHEL MONT...
79     *Hey Philly - You're Chocolateest Festival is ...
80     ðŸŽ‰ Welcome the New Year in Style at Austin's Fa...
100    Bring in 2024 with legacy musician Vegas Cola ...
101    WINTER ZESS!!!! ZESS ZESS & MORE ZESS, All roa...
Name: About, Length: 75, dtype: object

In [11]:
data["About"] = data["About"].apply(lambda x:x.split())
data['Date_time']=data['Date_time'].apply(lambda x:x.split())
data['Location']=data['Location'].apply(lambda x:x.split())

In [12]:
data.head()

,Id,Name,Price,Date_time,Location,About
0,0,NEW YEARS EVE 5 HOURS PREMIUM OPEN BAR AT KATRA,From $32.64,"[December, 31, Â·, 9pm, -, January, 1,, 2024, Â·...",[Katra],"[5, HOURS, OF, PREMIUM, OPEN, BARCHAMPAGNE, TO..."
1,1,ROOFTOP WATCH PARTY | SUITE FOOD LOUNGE,Free,"[Saturday,, December, 30, Â·, 3, -, 9pm, EST]","[Suite, Food, Lounge]","[Celebrity, guest,, live, music, by, Atlanta's..."
3,2,THE GREATEST NYE ON EARTH NEW YEARS EVE | REVE...,$0 â€“ $100,"[Ends, on, Monday,, January, 1,, 2024, Â·, 3am,...",[Revel],"[THE, GREATEST, NEW, YEAR'S, EVE, ON, EARTH, 2..."
5,3,New Year's Eve Party 2024 at Hilton Chicago wi...,"$20 â€“ $3,000","[December, 31, Â·, 9pm, -, January, 1,, 2024, Â·...","[Hilton, Chicago]","[Ring, in, NYE, 2024, at, the, Hilton, Chicago..."
6,4,"Jim Irsay Collection Exhibit & Concert, Los An...",Free,"[Thursday,, January, 11,, 2024, Â·, 6:30, -, 10...","[Shrine, Auditorium, and, Expo, Hall]","[Jim, Irsayâ€™s, world-renowned, collectionâ€”a, t..."